.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: initial;
  opacity: 1;
  visibility: visible;
  transition: opacity var(--time), visibility var(--time);
  overflow: scroll;
  z-index: 4;
}
@import '../basic/is-hidden';

.modal {
  position: absolute;
  padding: 40px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--color-white);
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 450px;
  height: 609px;
  overflow: scroll;

  @media screen and (min-width: 768px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}
@import '../buttons/modal-close';
