.hero {
  padding: 118px 0;
  text-align: center;
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/header_sm.jpg);

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/header_sm_2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/header_md.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/header_md_2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    padding: 200px 0;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/header_lg.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/header_lg_2x.jpg);
    }
  }
}

.hero__head {
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  color: var(--color-white);
  width: 360px;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
@import './buttons/hero-button';
