@import '../components/basic/section';
.ourplus {
  display: flex;
  @media screen and(min-width:480px) and(max-width:767px) {
    flex-direction: column;
    justify-content: center;
  }
  @media screen and(min-width:768px) and(max-width:1139px) {
    width: 768px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
.ourplus__item {
  margin-bottom: 0;
  text-align: justify;
  @media screen and(min-width:480px) {
    width: 450px;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and(min-width:768px) {
    flex-basis: calc((100% - 60px) / 2);
    // width: 354px;
    margin-left: 30px;
    margin-top: 30px;
  }
  @media screen and(min-width:1140px) {
    margin-left: 30px;
    &:first-child {
      margin-left: 0;
      width: 270px;
    }
  }
}
.ourplus-block__head {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  @media screen and(min-width:480px) {
    text-align: center;
  }
  @media screen and(min-width:768px) {
    text-align: left;
  }
}
.ourplus-block__text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
  color: var(--grey-text);
}
.ourplus-block {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  background-color: var(--background-first);
  border-radius: 4px;
  margin-bottom: 30px;
  @media screen and(min-width:480px) {
    width: 450px;
  }
  @media screen and(min-width:768px) {
    width: 354px;
  }
  @media screen and(min-width:1140px) {
    width: 270px;
  }
}
.ourplus-block__image {
  width: 70px;
  height: 70px;
}
