.whatwedo {
  padding-bottom: 94px;
}
.whatwedo__head {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.whatwedo__img {
  display: flex;
  padding-left: 0;
}
.whatwedo-item {
  position: relative;
  margin-left: 30px;
  &:first-child {
    margin-left: 0;
  }
}

.whatwedo-item__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  color: var(--color-white);
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
