.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.projects-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.project-item__link {
  display: block;
  transition: box-shadow var(--time);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-item__explain {
  margin-top: 4px;
  color: var(--grey-text);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
.project-item__block {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.project-item__thumb {
  position: relative;
  overflow: hidden;
}
.project-item__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  background-color: var(--brand-color);
  color: var(--color-white);
  transform: translateY(100%);
  transition: transform var(--time);
  .project-item__link:hover &,
  .project-item__link:focus & {
    transform: translateY(0);
  }
}
