:root {
  /*Брендовий відтінок синього*/
  --brand-color: #2196f3;
  /* Сірий колір тексту */
  --grey-text: #757575;
  /*  Колір бекграунду в блоку Наша команда в Студія */
  --background-first: #f5f4fa;
  /* Колір беkграунду в герої та футері  */
  --background-dark: #2f303a;
  /* Основний колір тексту */
  --basic-color: #212121;
  /*   Білий колір    */
  --color-white: #ffffff;
  /* Колір телефону і емейлу в футері */
  --footer-color: rgba(255, 255, 255, 0.6);
  /* Основний шрифт */
  --basic-text: 'Roboto';
  /*Світло-сірий колір фону */
  --second-grey: #afb1b8;
  /* Змінна для CSS-переходу */
  --time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
