.footer-social {
  margin-left: 70px;
}
.footer-social__title,
.footer-subscribe__title {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-white);
  text-transform: uppercase;
  margin-bottom: 20px;
}
