.footer-subscribe {
  width: 100%;
  margin-left: 0px;
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }
}
.form-subscribe__item {
  width: 100%;
  height: 50px;
  background-color: transparent;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--color-white);
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
    @media screen and (max-width: 767px) {
      align-items: center;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 0;
  }
}
@import '../buttons/footer-subscribe-button';
