.footer-social {
  margin-left: 0;
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: auto;
      margin-left: auto;
      margin-right: auto;
      flex-grow: 1;
    }
  }
}
.footer-social__title,
.footer-subscribe__title {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-white);
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
