.footer-all {
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 480px;
  background-color: var(--background-dark);
}
.footer-mobile {
  // display: flex;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: baseline;
  }
  @media screen and(min-width:768px) and (max-width: 1199px) {
    display: flex;
    align-items: baseline;
    margin-bottom: 60px;
    width: 100%;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    width: 100%;
  }
}

.footer-all .logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-adress {
  flex-grow: 1;
  text-align: center;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: auto;
    flex-grow: 0;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
    width: auto;
  }
}
@import './footer-adress';

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 1199px) {
    flex-direction: row;
    align-items: baseline;
  }
}
@import './footer-social';
@import './footer-subscribe';
.form-subscribe__text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-subscribe__icon {
  fill: var(--color-white);
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
