.form-subscribe__button {
  width: 200px;
  padding: 0;
  height: 50px;
  margin-left: 12px;
  background-color: var(--brand-color);
  color: var(--color-white);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 00.06em;
  cursor: pointer;
  border: transparent;
}
