.header-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
  position: absolute;
  top: 21px;
  right: 21px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
