.logo {
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}
.logo__first {
  color: var(--brand-color);
}
.logo--footer {
  color: var(--color-white);
}
