*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: var(--basic-text);
  color: var(--basic-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
li {
  list-style-type: none;
}
a {
  font-style: normal;
  text-decoration: none;
  color: var(--basic-color);
}
h1,
h2,
h3,
h4,
ul,
p {
  margin-bottom: 0;
  margin-top: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  padding: 0;
  list-style: none;
}
