.head__link--current {
  color: var(--brand-color);

  &::after {
    position: absolute;
    left: 0;
    content: '';
    display: block;
    background-color: var(--brand-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -30px;
    color: var(--brand-color);
  }
}
