.head__link--current {
  color: var(--brand-color);

  &::after {
    display: none;
    @media screen and (min-width: 768px) {
      position: absolute;
      left: 0;
      content: '';
      display: block;
      background-color: var(--brand-color);
      width: 100%;
      height: 4px;
      border-radius: 2px;
      bottom: -30px;
      color: var(--brand-color);
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &::after {
      bottom: -60px;
    }
  }
}
