.header__container {
  position: relative;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
  height: 100%;
}

.header {
  border-bottom: 1px solid #ececec;
}
@import './current';

.head-navigation {
  display: flex;
}
@import './menu-header';

.head {
  @media screen and (min-width: 768px) {
    display: flex;
    padding-left: 0;
    margin-right: auto;
    // margin-left: 93px;
    align-items: center;
  }
}

.nav-adress {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: auto;
  }
}
.head__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 35px;
  }
  &:last-child {
    @media screen and (max-width: 767px) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}
.nav-adress__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;

    &:first-child {
      margin-bottom: 10px;
    }
  }
}
.nav-adress__item {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}
.head__link {
  &:focus,
  &:hover {
    color: var(--brand-color);
  }
  @media screen and (min-width: 768px) {
    position: relative;
    display: inline-block;
    color: inherit;
    line-height: 1.14;
    text-align: right;
    letter-spacing: 0.02em;
    font-weight: 500;
    transition: color var(--time);
  }
}

.head__item:last-child,
.nav-adress__item:last-child {
  @media screen and (min-width: 768px) {
    margin-right: 0;
  }
}
.nav-adress__link {
  @media screen and (min-width: 768px) {
    display: inline-flex;
    color: var(--grey-text);
    fill: var(--grey-text);
    line-height: 1.14;
    align-items: center;
    letter-spacing: 0.02em;
    font-weight: 400;
    transition: color var(--time);
    &:focus,
    &:hover {
      color: var(--brand-color);
      fill: var(--brand-color);
    }
  }
}

.nav-adress__icon-phone {
  color: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  transition: color var(--time);
}

.nav-adress__icon-mail {
  color: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transition: fill var(--time), color var(--time);
}
